# Simple Build Tool
target/
/lib_managed/
/src_managed/
/project/boot/
.history
.cache
### Scala template
*.class
*.log

# sbt specific
/.lib/
/dist/*
/project/plugins/project/
/.bsp/

# IDEA specific
/.idea/
target-idea/

# EVE specific
/sde/

# Vite
/ui/.vite/

# Requests
/requests/*.private.env.json
