div.connection-info-view {
    $font-size: 0.8rem;
    $image-width: 20px;

    span.info-title {
        font-size: 1rem;
    }

    & img {
        width: $image-width;
        height: $image-width;
    }

    & div.connection-info {
        font-size: $font-size;
        display: flex;
        align-self: baseline;

        & * {
            flex-grow: 1;
        }

        & span {
            color: $gray-lighter;
        }

        & .ti {
            align-self: center;
        }


    }

    & table.connection-jumps {
        font-size: $font-size;
        border-spacing: 0;
        border: none;

        & thead {
            border-bottom: 1px solid $gray-darkest;

            & th.connection-jump-ship, th.connection-jump-character  {
                width: $image-width;
            }
            & th.connection-jump-mass {
                width: 2em;
            }

            & th.connection-jump-time {
                text-align: right;
            }
        }

        & tbody tr {
            background-color: $gray;
            border-top: 1px solid $gray-light;
            border-bottom: 1px solid $gray-light;
            white-space: nowrap;

            & td {
                padding-left: 2px;
                padding-right: 2px;
                padding-top: 0;
                padding-bottom: 0;
                margin-top: 0;
                margin-bottom: 0;
            }

            & td.connection-jump-time  {
                text-align: right;
            }

            &:nth-child(even) {
                background-color: $gray-dark;
            }
        }
    }
}

