.landing-page {
    $character-image-width: 132px; /* 128 + 4px margin */

    & a.login-to-eve {
        display: block;
        text-align: center;
    }

    #map-selection {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }

    & div.topnav {
        height: 1.4em;
        margin-bottom: 4px;
        user-select: none;

        /* darker look */
        border: 1px solid $gray-darkest;
        background-color: $gray-darkest;
        border-radius: 2px;

        display: flex;

        padding: 0 0 0 5px;

        & > * {
            text-decoration: none;
            align-self: center;
            margin-left: 2px;
            color: $gray-light;
        }

        /* nav buttons */
        & button.navitem {
            background-color: inherit;
            color: $gray-lighter;
            border: none;
            border-radius: 2px;
            font-size: 1.1em;
            height: 1.2em;
            width: 1.2em;

            &:hover:not(:disabled) {
                background: $teal-dark;
                color: $orange;
            }

            &:disabled {
                color: $gray;
            }
        }
    }

    & div.character-and-maps {
        margin: 2em 3em;

        flex: 0 0 calc($character-image-width * 2.5);
        min-height: $character-image-width;

        display: inline-flex;

        & img.character-image {
            display: block;
            border: 2px solid $gray;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        }

        & .expired-auth {
            & img.character-image, & div.character-name {
                border-color: $red-dark;
            }
        }

        & div.character-name {
            max-width: $character-image-width;
            background: $gray-darker;
            color: $gray-lighter;
            border: 2px solid $gray;
            border-top: none;

            & button {
                display: inline-block;
                border: none;
                font-size: 1em;

                &.logout {
                    color: $red;
                    &:hover {
                        color: $orange;
                    }
                }
            }

            & a.login {
                margin-left: 2px;
                display: inline-block;
                border: none;
                font-size: 1em;
                color: $green-dark;
                text-decoration: none;
                &:hover {
                    color: $green;
                }
            }

            & mark.name {
                margin-left: 2px;
                background-color: inherit;
                color: $gray-lighter;
                text-align: center;
            }
        }
    }

    & div.maps {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        margin-left: 1em;

        & div.map-link {
            margin-bottom: 0.3em;

            & a, & button.new-map {
                display: block;
                min-height: 2em;
                min-width: 6em;
                text-align: left;
                border-radius: 4px;
                text-decoration: none;
                font-weight: bold;
                font-size: 0.9em;
                padding-left: 2px;
                padding-right: 2px;

                border: 2px solid $gray-darker;
                color: $gray-lighter;
                background: $teal-darkest;

                &:hover {
                    border: 2px solid $green-dark;
                }
            }

            & button.new-map {
                background: $green-dark;
                color: $gray-lightest;
                width: 100%;

                &:hover {
                    border-color: $gray-lightest;
                }
            }
        }
    }


}