/* TODO - move styles over from app.css */

.solar-system-info-view {
    & mark.system-planets {
        max-height: 1.5em;
    }

    & mark.system-wormhole-static {
        margin-left: 2px;
        margin-right: 2px;
    }

    & .wormhole-static-tooltip {
        & table.wormhole-static-info {
            & tr td:nth-child(even) {
                text-align: left;
                font-weight: bold;
            }
        }
    }
}

