/* FIXME no way to import normalize. Eh whatever */

@import 'colors.css';
@import 'fonts.css';
@import 'icon.css';

/* ok? */

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: $ gray-lighter;
    background-color: $ bg-color;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* character */

.character-selection {
    > div {
        background: $ wh-color-magnetar;
    }
}

/* map modal */

dialog {
    padding: 0;
    border: 1px solid #888; /* fixme */
    background-color: $gray-darker;
    width: 80%;
    overflow: auto;
}

dialog::backdrop {
    opacity: 0.75;
    background-color: black;
    padding: 0;
    margin: 0;
}

.modal-content {
    padding: 3px;
    margin: 0;
}

.close {
    color: $red;
    float: right;
    font-size: 2em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: $orange-light;
    text-decoration: none;
    cursor: pointer;
}

/* TODO remove this - just for debugging */
#debugOverlay {
    display: none;
    position: absolute;
    width: 300px;
    height: 400px;
    background: $blue-dark;
    top: 40px;
    left: 800px;
}

/* map page */
#map-view-inner {
    display: flex;
    flex-flow: row wrap;
}

#map-view-inner > * {
    flex: 1 100%;
}

@media all {
    #map-parent { min-width: 600px; flex: 4 1 auto; order: 3; }
    #map-left-sidebar { min-width: 400px; flex: 0 1 auto; order: 2; }
    #map-menu { flex: 1 100%; order: 1; }
}


/* map grid */
$box-width:     140px;
$box-height:    40px;

#map-menu {
    display: block;
}

#map-left-sidebar {
    padding-left: 2px;
    padding-right: 6px;
}

#map-parent {
    /*flex: unset; !* TODO not sure ? *!*/
    /*width: 70%;*/
    /*width: 500px;*/
    min-height: 600px;
    /*height: 500px;*/
    overflow: auto;
    box-sizing: content-box;
    /* material design corners - TODO need to templatise this */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: 1px solid $gray-darker;
    border-radius: 5px;

    margin-left: 2px;
}

/* TODO removed as wasn't sure this is needed!? */
#map-inner {
    position: relative;
    transform-origin: top left;
    box-sizing: content-box;
    height: 100%;
    width: 100%;

    /* TODO: read about transform-origin */
    /*transform: scale(50%);*/
    /*transform-origin: 0 0 0;*/
}

/* TODO - combine the css here */
.system-error {
    width: $box-width;
    height: $box-height;
    position: absolute;
    user-select: none;
}

.system {
    user-select: none;
    width: $box-width;
    height: $box-height;
    position: absolute;
    box-sizing: border-box; /* important otherwise we need to do math for the border calculation*/
    box-snap: block-start;
}

.draggable-box {
    cursor: grab;
}

.pinned-box {
    cursor: pointer;
    /*cursor: not-allowed; !* TODO not sure whether this is good *!*/
}

.system {
    font-family: Oxygen, Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    background-color: $gray-dark;
    border-radius: 5px;
    /*transition: .5s linear;*/
}

.system:hover:not(.system-selected) {
    /*background-color: turquoise;*/
    box-shadow: 0px 9px 30px rgba($orange, 0.1);
    /*box-shadow: 0px 0px 100px 0px rgba(255,165,0,1);*/
    /*transition: .5s linear;*/
}

.system-selected {
    /* TODO adjust color effect */
    box-shadow: 0px 0px 5px 0px rgba($orange,0.7) inset;
    /*box-shadow: 2px 2px 2px 2px rgba($teal, .45), 1px 1px 1px 1px rgba($teal, .45);*/
    /*box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16), 0px 0px 0px 3px rgba(51, 51, 51,1);*/
}

mark.system-class {
    background: inherit;
    margin-left: 2px;
    margin-right: 2px;
}

.system-class-h {
    color: $green;
}

.system-class-c1, .system-class-c2 {
    color: $blue;
}

.system-class-l, .system-class-c3, .system-class-c4 {
    color: $orange;
}

.system-class-ns, .system-class-c5, .system-class-c6 {
    color: $red;
}

.system-class-pochven {
    color: $red-darker;
}

.system-class-sentineldrifter, .system-class-barbicandrifter, .system-class-videttedrifter, .system-class-confluxdrifter, .system-class-videttedrifter  {
    color: $teal;
}

/* TODO more system classes */

mark.system-effect {
    background: inherit;

}

.system-status-line > mark.system-effect {
    margin-right: 2px;
    margin-top: 2px;
}


mark.system-pin-status {
    background: inherit;
    margin-right: 2px;
    margin-top: 2px;
    color: $gray-lighter;
}

.system-effect-magnetar {
    color: $wh-color-magnetar;
}

.system-effect-blackhole {
    color: $wh-color-blackhole;
}

.system-effect-redgiant {
    color: $wh-color-redgiant;
}

.system-effect-pulsar {
    color: $wh-color-pulsar;
}

.system-effect-cataclysmic {
    color: $wh-color-cataclysmic;
}

.system-effect-wolfrayet {
    color: $wh-color-wolfrayet;
}

mark.system-name {
    background: inherit;
    color: $gray-lighter;
    margin-left: 2px;
    margin-right: auto;
}

mark.system-map-name {
    background: inherit;
    color: $gray-lightest;
    margin-left: 2px;
    margin-right: auto;
    overflow: hidden;
}

mark.system-wormhole-static {
    background: inherit;
    margin-left: 2px;
    margin-right: 2px;
}

mark.system-wormhole-static:last-of-type {
    margin-right: 0;
}

/* FIXME colors wrong here */
.system-stance-hostile {
    border: 2px solid $red;
}

.system-stance-friendly {
    border: 2px solid $blue;
}

.system-stance-unknown {
    border: 2px solid $gray-light;
}

.system-occupied {
    border: 2px solid $orange;
}

.system-status-line {
    display: flex;
    min-width: 100%;
}

/* solar system info */
.left-sidebar-view {
    background-color: $gray-darker;
    border-radius: 4px;
    border: 1px $gray-dark solid;
    /* material design shadow ooh */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 100%;
    padding: 4px;
}

.left-sidebar-view:not(:first-of-type) {
    margin-top: 10px;
}

tr.solar-system-name {
    display: flex;
    flex-flow: row;
}

tr.solar-system-name > * {
    flex: 1 100%;
}

tr.solar-system-name > span {
    margin-right: auto;
    color: $gray-lighter;
    font-weight: bold;
}

span.solar-system-name-default {
    color: $gray-light;
}


tr.solar-system-name > a:first-of-type {
    margin-left: auto;
    flex: 0;
}

tr.solar-system-name > a:last-of-type {
    margin-right: 0;
}

tr.solar-system-name > a {
    margin-right: 2px;
    margin-left: 2px;
    flex: 0;
}

tr.solar-system-location {
    user-select: none;
    color: $gray-lighter;
}

tr.solar-system-properties {
    display: flex;
}

tr.solar-system-properties > mark {
    background-color: $gray-darkest;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 4px;
    padding-right: 4px;
    user-select: none;
    font-size: 0.9em;
}

tr.solar-system-properties > mark:first-of-type {
    margin-left: 0;
}

tr.solar-system-properties > mark.system-planets {
    margin-right: auto;
}

mark.system-planets {
    color: $gray-lighter;
}

img.type-icon-16-round {
    height: 0.9em; /* FIXME this is not 16px ofc */
    width: 0.9em;
    border-radius: 10px 3px 3px 3px;
}

dialog.system-rename-dialog {
    width: 20%;
    min-width: 200px;
}

input.input-system-name {
    /*width: 100%;*/
}

/* grid pattern */
.grid {
    box-sizing: border-box;
    border: none;
    background:
            linear-gradient(0deg, $gray 1px, rgba(0, 0, 0, 0) 1px),
            linear-gradient(90deg, $gray 1px, rgba(0, 0, 0, 0) 1px),
            linear-gradient(0deg, rgba(0, 0, 0, 0.05) 1px, rgba(0, 0, 0, 0) 1px),
            linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, rgba(0, 0, 0, 0) 1px)

}

.g-20px {
    background-size: 20px 20px;
}

/* map toolbar */

#map-toolbar {
    /* material design corners - TODO need to templatise this */
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
    /*border: 1px solid $gray-darker;*/
    border-radius: 5px;
    /*font-size: 1.4em;*/
    /*background-color: $gray-darkest;*/
    /*padding: 5px;*/
    margin-left: 0;
    margin-bottom: 5px;
    /* TODO not sure about the look of this */
    box-shadow: 20px 0 10px -20px rgba(0,0,0,0.45) inset;
}

#map-toolbar button {
    padding: 2px;
    border-top: 1px solid $gray-dark;
    border-bottom: 1px solid $gray-dark;
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
    border-radius: 0px 0px 0px 0px;
    background-color: $gray;
    font-size: 1.3em;
    transition: background-color 0.3s;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6); /* TODO this looks a bit weird */
    color: $indigo-light;
}

#map-toolbar button:first-of-type {
    border-left: 1px solid $gray-dark;
    border-radius: 3px 0 0 3px;
}

#map-toolbar button:last-of-type {
    border-right: 1px solid $gray-dark;
    border-radius: 0 3px 3px 0;
}

#map-toolbar button:hover:not(:disabled) {
    background-color: $gray-dark;
    border: 1px solid $indigo-dark;
    color: $orange-dark;
}

#map-toolbar button:disabled {
    color: $gray-light;
}

/* new system dialog */

dialog.system-add-dialog {
    width: 300px;
    padding: 2px;
}

.system-add-view div.table {
    font-size: 0.8em;
}

div.table {
    display: table;
    border-spacing: 5px 2px;
    width: 100%;
}

div.table div.row {
    display: table-row;
}

div.table div.row * {
    display: table-cell;
}

div.table div.row input {
    margin: 0;
    padding: 0;
}

div.table div.row input[type=text] {
    width: 100%;
}

div.table div.row label {
    width: 60px;
    text-align: right;
}

div.submit {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.submit mark.form-error {
    display: inline-block;
    background: inherit;
    color: $red;
    min-width: 50%;
}

div.dialog-view {
    margin: 5px;
}


button.add-button {
    background-color: $green-dark;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    float: right;
    transition: background-color 0.3s;
    font-weight: bold;
    margin-right: 5px;
}

button.add-button:hover {
    filter: brightness(130%);
}

button.add-button:focus-visible {
    outline: 1px solid $orange;
}

input:focus-visible {
    outline: 1px solid $orange;
}

dialog.system-remove-dialog {
    width: 220px;
}

button.remove-button {
    background-color: $red-dark;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

button.remove-button:hover {
    filter: brightness(130%);
}

button.remove-button:focus-visible {
    outline: 1px solid $orange;
}